@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/color-scheme.css");
@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/bade-pad-fix.css");
@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/better-font-spacing.css");
@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/less-ads.css");
@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/no-decorations.css");
@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/no-role-icons.css");
@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/role-dots-on-right.css");
@import url("https://raw.githubusercontent.com/Axyriah/ircord/trunk/ui-consistency.css");
